<table border="0" width="100%">
  <tr>
    <td colspan="4">
      <table width="100%" border="0" style="background: #bdd6ff;">
        <tr>
          <td><img src="..//../assets/images/logo.svg"></td>
          <td align="center">
            <table>
              <tr>
                <td>
                  <app-sc-breadcrumb></app-sc-breadcrumb>
                </td>
              </tr>
              <tr>
                <td>Work Area: Procurement</td>
              </tr>
            </table>
          </td>
          <td align="center" style="vertical-align: bottom ">
            <table>
              <tr>
                <td>
                  <mat-icon matTooltip="set favoriate">star_empty</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="download current screen">download</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="customize current screen">tune</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="refresh">refresh</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="Help for this screen">help</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="Default settings for this page">beenhere</mat-icon> &nbsp; &nbsp;
                </td>
              </tr>
            </table>
          </td>
          <td align="right">
            <table>

              <tr>
                <td align="center">Chris Isayan</td>
              <tr>
                <td align="center">Super-User</td>
              <tr>
                <td align="center"><mat-icon matTooltip="customize current view">account_circle</mat-icon></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <hr>
    </td>
  </tr>
  <tr>
    <td style="width: 15%;">
      <div>
        <!--
        <div class="example-action-buttons">
          <button mat-button (click)="accordion.openAll()">Expand All</button>
          <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        </div>
        -->
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Favorites
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>favorites</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list routerLinkActive="true">
              <a mat-list-item [routerLink]="['/supply-chain/overview']">App Overview</a>
              <a mat-list-item>My Orders</a>
              <a mat-list-item>My Customers</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Procurement
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list routerLinkActive="active">
              <a mat-list-item [routerLink]="['/supply-chain/purchase-order']">Enter New
                Order</a>
              <a mat-list-item>Change Existing P.O.</a>
              <a mat-list-item>Cancel P.O.</a>
              <a mat-list-item>Close P.O.</a>
              <a mat-list-item [routerLink]="['/supply-chain/existing-po']">View Existing P.O. </a>
              <a mat-list-item>Vendor Confirmation</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Inventory
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>inventory</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list routerLinkActive="active">
              <a mat-list-item>Receiving Inventory</a>
              <a mat-list-item>Pallet Loading</a>
              <a mat-list-item>Stock Transfers</a>
              <a mat-list-item>Demand Forecasting</a>
              <a mat-list-item>Search product</a>
              <a mat-list-item>Configure product</a>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Orders
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>add_task</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <a mat-list-item>Specific Customer Order</a>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Warehouse
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>warehouse</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>Manage Loads</a>
              <a mat-list-item>Ship Loads</a>
              <a mat-list-item>Outbound Waves</a>
              <a mat-list-item>Packing & Containerization</a>
              <a mat-list-item>Cycle Counting</a>
              <a mat-list-item>Replenishment</a>
              <a mat-list-item>Search an Item</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Transportation
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>local_shipping</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>Load Planning</a>
              <a mat-list-item>Dock Appt Scheduling</a>
              <a mat-list-item>Manage Routes</a>
              <a mat-list-item>Freight Bills & Invoices</a>
              <a mat-list-item>Trace Shipment</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Finance
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>attach_money</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>Account Reconcilation</a>
              <a mat-list-item>Inoices & Payments</a>
              <a mat-list-item>Budgets & Forecasts </a>
              <a mat-list-item>Revenue Management</a>
              <a mat-list-item>Cash Flow Management</a>
              <a mat-list-item>Tax Management</a>
              <a mat-list-item>Multi-Site Configuration</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Work Planning
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>people</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>Work Order Managment</a>
            </mat-nav-list>
          </mat-expansion-panel>
         
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Administration
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>settings</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>              
              
              <a mat-list-item [routerLink]="['/supply-chain/configuration/warehouse']">Manage Locations</a>
              <a mat-list-item [routerLink]="['/supply-chain/configuration/system-assets']">System Assets</a>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    User Management
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                  <a mat-list-item [routerLink]="['/supply-chain/configuration/system-users']">Users</a>
                  <a mat-list-item [routerLink]="['/supply-chain/configuration/system-roles']">Roles</a>
                  <a mat-list-item>Groups</a>
                  <a mat-list-item>Assign Permissions</a>
                </mat-nav-list>

              </mat-expansion-panel>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Utilities
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>search</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item [routerLink]="['/supply-chain/vendor-details']">Search PO Vendor</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </td>
    <td colspan="2" style="width: 40%;">
      <!--<app-vendor-details></app-vendor-details>-->
      <router-outlet></router-outlet>
    </td>
    <td align="right" width="10%">
      <app-sc-chat></app-sc-chat>
    </td>
  </tr>

</table>