<table border="0" width="100%"  >
  <tr>
    <td colspan="4">
      <table width="100%" border="0" style="background: lightgray;">
        <tr>
          <td><img src="..//../assets/images/logo.svg"></td>
          <td align="center"> Purchase order screen (screen being displayed now)</td>
          <td align="center" style="vertical-align: bottom ">
            <table>
              <tr>
                <td>
                  <mat-icon matTooltip="export to CSV">download</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="customize current view">tune</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="refresh">refresh</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="Help for this screen">help</mat-icon> &nbsp; &nbsp;
                  <mat-icon matTooltip="Default settings for this page">beenhere</mat-icon> &nbsp; &nbsp;
                </td>
              </tr>
            </table>
          </td>
          <td align="right">
            <table>

              <tr>
                <td align="center">Chris Isayan</td>
              <tr>
                <td align="center">Super-User</td>
              <tr>
                <td align="center"><mat-icon matTooltip="customize current view">account_circle</mat-icon></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <hr>
    </td>
  </tr>
  <tr>
    <td style="width: 20%;">
      <div>
<!--
        <div class="example-action-buttons">
          <button mat-button (click)="accordion.openAll()">Expand All</button>
          <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        </div>
        -->
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Favorites
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>favorites</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>App Overview</a>
              <a mat-list-item>My Orders</a>
              <a mat-list-item>My Customers</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Purchase
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list routerLinkActive="active">
              <a mat-list-item  [routerLink]="['/system-master/purchase-order']">Enter New Order</a>
              
              <a mat-list-item> Change Existing P.O.</a>
              <a mat-list-item >Cancel P.O.</a>
              <a mat-list-item>Close P.O.</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Inventroy
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>inventory</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item>Look for item</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Orders
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>add_task</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <a mat-list-item>Specific Customer Order</a>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Warehouse
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>warehouse</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>Search an Item</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Transportation
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>local_shipping</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>Trace Shipment</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Finance
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>attach_money</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>AR</a>
              <a mat-list-item>AP</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Utilities
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>search</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item [routerLink]="['/system-master/vendor-details']">Search PO Vendor</a>              
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Administration
              </mat-panel-title>
              <mat-panel-description>
                *
                <mat-icon>settings</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>Search Setup</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </td>
    <td colspan="2">
      <!--<app-vendor-details></app-vendor-details>-->
      <router-outlet></router-outlet>
    </td>
    <td align="right" width="25%">
      <app-chat-assist></app-chat-assist>
    </td>
  </tr>

</table>