<h1> General informatoin for 270 relationship</h1>

<table border="0" width="100%">
    <tr>
        <td>
            Partner Name
        </td>
        <td colspan ="3">
            Name of Trading partner is carried over from previous page
        </td>

    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4"> some more fields</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">
            <input type="checkbox">Snipp Level 1         
            <input type="checkbox">Snipp Level 2         
            <input type="checkbox">Snipp Level 3 
            <input type="checkbox">Snipp Level 4 
         
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">
            <input type="checkbox">Snipp Level 5 
            <input type="checkbox">Snipp Level 6
            <input type="checkbox">Snipp Level 7 

        </td>
    </tr>
    <tr>
        
        <td colspan=4 style="text-align: right;">
            <button >Save</button>
        </td>
    </tr>
</table>
