<table style="width: 100%; background: lightblue;">
    <tr>
        <td style="text-align: right;"><button style="background-color: blue; color: white; cursor: pointer;">Edit Gen
                Info</button></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <h3>General informatoin for 27X relationship</h3>
        </td>

    </tr>
</table>
<table class="table_outer" >
    <tr>
        <td style="vertical-align: top; width: 50%;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">General Information</td>
                </tr>

                <tr>
                    <td class="column_format">Partner Name</td>
                    <td class="column_format_value">PassportHTTPS</td>
                </tr>    
                <tr>
                    <td class="column_format">Interchange Reciever ID</td>
                    <td class="column_format_value">276PASSPORT</td>
                </tr>       
                <tr>
                    <td class="column_format">Relationship type</td>
                    <td class="column_format_value">
                        <select >
                            <option>270 inbound</option>
                            <option>271 outbound</option>
                            <option>276 inbound</option>
                            <option>277 outbound</option>
                        </select>

                    </td>
                </tr>       
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>                                
                <tr><td colspan="2">
                    Snip 1 & 2 are mandatory<br>
                    7 is done by cognizent team. Business rule Not managed by this interface<br>
                    You can turn on and off Snip 3 thru 6
                    
                </td></tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>  
                <tr>
                    <td class="column_format">
                        <input type="checkbox" checked="true" disabled>Snip Level 1
                    </td>
                    <td class="column_format_value_long">
                    </td>
                </tr>
                <tr>
                    <td class="column_format">
                        <input type="checkbox" checked="true"  disabled>Snip Level 2
                    </td>
                    <td class="column_format_value_long">
                    </td>
                </tr>
                <tr>
                    <td class="column_format">
                        <input type="checkbox">Snip Level 3
                    </td>
                    <td class="column_format_value_long">
                    </td>
                </tr>
                <tr>
                    <td class="column_format">
                        <input type="checkbox">Snip Level 4
                    </td>
                    <td class="column_format_value_long">
                    </td>
                </tr>
                <tr>
                    <td class="column_format">
                        <input type="checkbox">Snip Level 5
                    </td>
                    <td class="column_format_value_long">
                    </td>
                </tr>
                <tr>
                    <td class="column_format">
                        <input type="checkbox">Snip Level 6
                    </td>
                    <td class="column_format_value_long">
                    </td>
                </tr>
                <tr><td colspan="2">
                    &nbsp;
                </td></tr>
                <tr><td colspan="2">
                    Assign group to envelope <br>
                    
                </td></tr>
                <tr>
                    <td class="column_format_value_long">Custom group override
                        <select>
                            <option>Custom Override 1</option>
                            <option>Custom Override 2</option>
                            <option>Custom Override 3</option>
                            <option>Custom Override N</option>
                        </select>
                    </td>
                </tr>
                <tr><td colspan="2">
                     <br>
                    for each group there will be a note explaining the content<br>
                    Each group is create and maintained by IT 
                </td></tr>
                <tr>
                    <td class="column_format">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="column_format">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="vertical-align: top; width: 50%;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Additional Information</td>
                </tr>                
                <tr>
                    <td class="column_format">Relationship name</td>
                    <td class="column_format_value">276_510_inbound</td>
                </tr>
                <tr>
                    <td class="column_format">Business Document</td>
                    <td class="column_format_value">Claim Status Inquiry</td>
                </tr>
                <tr>
                    <td class="column_format">Direction</td>
                    <td class="column_format_value">Inbound</td>
                </tr>
                <tr>
                    <td class="column_format">Format</td>
                    <td class="column_format_value">HIPAA 5010</td>
                </tr>
                <tr>
                    <td class="column_format">Code</td>
                    <td class="column_format_value">276</td>
                </tr>
                <tr>
                    <td class="column_format">Version</td>
                    <td class="column_format_value">v5010x212</td>
                </tr>
                <tr>
                    <td class="column_format">Mode</td>
                    <td class="column_format_value">Real Time</td>
                </tr>
                <tr>
                    <td class="column_format">Method</td>
                    <td class="column_format_value">Direct</td>
                </tr>
                <tr>
                    <td class="column_format">Status</td>
                    <td class="column_format_value">Active</td>
                </tr>
                <tr>
                    <td class="column_format">Sender</td>
                    <td class="column_format_value">PassportHTTPS</td>
                </tr>
                <tr>
                    <td class="column_format">Receiver</td>
                    <td class="column_format_value">BSC Owner</td>
                </tr>
                <tr>
                    <td class="column_format">Created</td>
                    <td class="column_format_value_long">Nov-15-2023 By Chris Isayan</td>
                </tr>
                <tr>
                    <td class="column_format">Last Updated</td>
                    <td class="column_format_value_long">Nov-23-2023 By Ravi Angara</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
            </table>

        </td>
    </tr>

    <tr>
        <td colspan="6" style="text-align: right;"><a [routerLink]="['/bsbc/trading-partner-details']">back</a></td>
    </tr>
</table>

