<mat-tab-group>
    <mat-tab label="First">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">general</mat-icon>
            General Info
        </ng-template>

        <app-bsbc-tp-doctype-gen-vw></app-bsbc-tp-doctype-gen-vw>
    </mat-tab>
    <mat-tab label="Second">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">relationship</mat-icon>
            EDI View
        </ng-template>
        <app-bsbc-tp-doctype-edi-info></app-bsbc-tp-doctype-edi-info>
    </mat-tab>
</mat-tab-group>
