<h2>Custom Search</h2>
<table>
    <tr>
        <td>Doc Type</td>
        <td>
            <select matNativeControl required>
                <option value="Transmission">Transmission</option>
                <option value="Eligibility - 270">Eligibility - 270</option>
                <option value="Eligibility - 271">Eligibility - 271</option>
                <option value="">Claim Status - 276</option>
                <option value="">Claim Status - 277</option>
                <option value="">Service Review - 278-11</option>
                <option value="">Service Review - 278-13</option>
                <option value="">Ack 999</option>
                <option value="">TA1</option>
            </select>
        </td>
        <td>
            Name of Custom Search 
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr style="background-color: lightgray;">
        <td>System id (internal id)</td>
        <td><input type=text></td>
        <td>Facility Type</td>
        <td><input type=text></td>
        <td>Partner</td>
        <td><input type=text></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr style="background-color: lightgray;">
        <td>Validation Status</td>
        <td><input type=text></td>
        <td>Diagnosis</td>
        <td><input type=text></td>
        <td>Service Begin</td>
        <td><input type=text></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <button mat-raised-button color="Disabled">Preview</button> <br>(optional requirements)
        </td>
        <td colspan="2" style="text-align: right;">
            <button mat-raised-button color="primary">Save</button>
        </td>
    </tr>
</table>