<table style="width: 100%; background: lightblue;">
  <tr><td style="text-align: right;"><button style="background-color: blue; color: white; cursor: pointer;">+ Trading Partner</button></td></tr>
  <tr>
    <td style="text-align: center;">
      <h3> Search Trading Partner</h3>
  </td>
  
</tr>
  
</table>
<table style="width: 100%; border: 2px solid lightblue;border-collapse: collapse;">
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>Trading Partner Name</td>
    <td><input type=text></td>
    <td>Trading Partner ID</td>
    <td><input type=text></td>
  </tr>

  <tr><td>&nbsp;</td>
    <td style="font-size: 80%; vertical-align: top;">&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
      &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
      wild card search</td>
  </tr>
  <tr >
    <td colspan="3"></td>
    <td colspan="1" >
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      &nbsp; &nbsp; 
        <button style="background-color: blue; color: white; "> Search </button> 
        
    </td>
</tr> 
<tr><td>&nbsp;</td></tr>
</table>
<mat-drawer-container class="example-container" >
  <mat-drawer #drawerdetail [mode]="'side'" position="end" [style.width.px]="drawerWidth" [opened]="isDrawerOpen"
    (openedChange)="drawerStateChanged($event)">
    <h3>Selected Trading partner details</h3>
    <div style="align-content: right;">
      <button mat-icon-button (click)="drawerdetail.toggle()">
        <mat-icon>{{ isDrawerOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
    <table style="width: 100%;">
      <tr>
        <td>Trading Partner: {{ selectedTradingPartner?.Name }}</td>
        <td>SubmitterId: {{ selectedTradingPartner?.SubmitterID }}</td>
      </tr>
      <tr>
        <td>State: {{ selectedTradingPartner?.State }}</td>
      </tr>
    </table>
    <hr>
    <app-tradingpartnerdetails></app-tradingpartnerdetails>
  </mat-drawer>
  <mat-form-field style="width: 80%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. trading partner name" #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span>
    &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <mat-icon matTooltip="export to CSV">download</mat-icon> &nbsp; &nbsp;
    <!--<mat-icon matTooltip="add column">add</mat-icon> &nbsp; &nbsp;-->
</span>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="TradingPartnerCheckBox">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">All
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="SubmitterID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SubmitterID</th>
      <td mat-cell *matCellDef="let row">{{row.SubmitterID}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.Name}}</td>
    </ng-container>
    <ng-container matColumnDef="State">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.State}}</td>
    </ng-container>
    <ng-container matColumnDef="DaysInCommunity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Days in Community</th>
      <td mat-cell *matCellDef="let row">{{row.DaysInCommunity}}</td>
    </ng-container>
    <ng-container matColumnDef="BusinessRole">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Role</th>
      <td mat-cell *matCellDef="let row">{{row.BusinessRole}}</td>
    </ng-container>
    <ng-container matColumnDef="LastAccessDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Access Date</th>
      <td mat-cell *matCellDef="let row">{{row.LastAccessDate}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="example-tab-icon">more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDrawer(row)"></tr>
  </table>


  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="7"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</mat-drawer-container>