td {
    vertical-align: top;
  }
    .example-accordion {
      display: block;
      max-width: 500px;
    }
    
    .example-accordion-item {
      display: block;
      border: solid 1px #ccc;
    }
    
    .example-accordion-item + .example-accordion-item {
      border-top: none;
    }
    
    .example-accordion-item-header {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
    
    .example-accordion-item-description {
      
      color: #999;
    }
    
    .example-accordion-item-header,
    .example-accordion-item-body {
      padding: 16px;
    }
    
    .example-accordion-item-header:hover {
      cursor: pointer;
      background-color: #eee;
    }
    
    .example-accordion-item:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    
    .example-accordion-item:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  
    .example-action-buttons {
      padding-bottom: 20px;
    }
    
    .example-headers-align .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }
    .mat-expansion-panel-header-title {
        flex-basis: auto
    }
    .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
      margin-left: 8px;
    }
  
    mat-sidenav {
      width: 200px;
    }
  
    mat-nav-list div[role='group'] {
      padding-left: 20px;
      
    }
    .mat-mdc-list-base {
        font-size: 12px important!;
    }
    
    mat-nav-list mat-icon {
      position: absolute;
      right: 20px;
    }
  
    .mat-list-item {
      font-size: 12px !important;  
    }
    mat-list-item {
      font-size: 12px ;  
    }
    mat-nav-list{
      font-size: 12px ;  
    }
    mat-list-item-content {
      font-size: 18px;
    }
    .mat-list-item.cancel-link {
      font-size: 10px;
  }
  .cancel-link {
    font-size: 10px !important;
  }
  
  .mat-mdc-list-base{
    --mdc-list-list-item-label-text-size:12px
  }