<h2>Error Details</h2>
&nbsp;
<br>
<table class="table_format">
    <tr>
        <td class="table_header_style">Error Id:</td>
        <td>0X39xsdda</td>
        <td class="table_header_style">Category:</td>
        <td>Informational</td>
        <td class="table_header_style">Snip Type:</td>
        <td>7 - Partner Specific</td>
    </tr>
    <tr><td>&nbsp;<br>&nbsp;</td></tr>
    <tr>
        <td class="table_header_style">Business Error Msg:</td>
        <td>Invalid Subscriber date</td>
                
    </tr>
    <tr>
        <td class="table_header_style">EDI Err Message:</td>
        <td colspan="5">Value of element DTP03 (subscriber date is incorrect.  Expecte dvalue is Date in format... 
        
    </tr>
    <tr><td>&nbsp;<br>&nbsp;</td></tr>
    <tr>
        <td class="table_header_style">Error Data in Context:</td>
        <td>DTP*357*D8*<font color=red>9991231</font></td>
        <td class="table_header_style">Error Location:</td>
        <td>271/005010x279A1/2100C/DTP/03 &nbsp; &nbsp; </td>
        <td class="table_header_style">Errpr Location:</td>
        <td>X12</td>
    </tr>
    <tr><td>&nbsp;<br>&nbsp;</td></tr>
    <tr>
        <td colspan="6" style="text-align: right;"><a [routerLink]="['/bsbc/txn-details']">back</a></td>
    </tr>
</table>
<br>

