&nbsp;
<br>
&nbsp;
<table class="table_outer">
    <tr>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">General Information</td>
                </tr>
                <tr>
                    <td class="column_format">System Id</td>
                    <td class="column_format_value">333444</td>
                </tr>
                <tr>
                    <td class="column_format">Originator Transaction Id</td>
                    <td class="column_format_value"> 5664646446</td>
                </tr>
                <tr>
                    <td class="column_format">Trace Number</td>
                    <td class="column_format_value">465654546546</td>
                </tr>
                <tr>
                    <td class="column_format">File Name</td>
                    <td class="column_format_value">bla-bla-270.dat</td>
                </tr>
                <tr>
                    <td class="column_format">Call Chain Id</td>
                    <td class="column_format_value">46446654456564654</td>
                </tr>
                <tr>
                    <td class="column_format">Medical Record Number</td>
                    <td class="column_format_value">6454646464</td>
                </tr>
            </table>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Subscriber / Provider / Member Informatino</td>
                </tr>
                <tr>
                    <td class="column_format">Subscriber Name</td>
                    <td class="column_format_value">John Smith</td>
                </tr>
                <tr>
                    <td class="column_format">Subscriber ID</td>
                    <td class="column_format_value">111-11-1111</td>
                </tr>
                <tr>
                    <td class="column_format">Provider Name</td>
                    <td class="column_format_value"> 5664646446</td>
                </tr>
                <tr>
                    <td class="column_format">Provider Name</td>
                    <td class="column_format_value">111-11-1111-02</td>
                </tr>
                <tr>
                    <td class="column_format">Member Name</td>
                    <td class="column_format_value">Dersu Uzala</td>
                </tr>
                <tr>
                    <td class="column_format">Patiient Name</td>
                    <td class="column_format_value">Jean Passepartout</td>
                </tr>
             
           
            </table>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Status</td>
                </tr>
                <tr>
                    <td class="column_format">Originator</td>
                    <td class="column_format_value">Blue Exchange</td>
                </tr>
                <tr>
                    <td class="column_format">Receiver Name</td>
                    <td class="column_format_value"> 5664646446</td>
                </tr>
                <tr>
                    <td class="column_format">Current  Status</td>
                    <td class="column_format_value">Accepted</td>
                </tr>
                <tr>
                    <td class="column_format">Status Date/Time</td>
                    <td class="column_format_value">Nov.11.2023 17:05:06:333</td>
                </tr>
                <tr>
                    <td class="column_format">Agency Validation Status</td>
                    <td class="column_format_value">Accepted</td>
                </tr>
                <tr>
                    <td class="column_format">Agency Status Date/Time</td>
                    <td class="column_format_value">Nov.11.2023 17:05:06:333</td>
                </tr>
            </table>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Details</td>
                </tr>
                <tr>
                    <td class="column_format">Principal Diagnosis</td>
                    <td class="column_format_value">Bronchitis</td>
                </tr>
                <tr>
                    <td class="column_format">Service Begins Date</td>
                    <td class="column_format_value">Nov.25.2023</td>
                </tr>
                <tr>
                    <td class="column_format">Service End Date</td>
                    <td class="column_format_value">Nov.26.2023</td>
                </tr>
                <tr>
                    <td class="column_format">Insurance type</td>
                    <td class="column_format_value">PPO</td>
                </tr>
                <tr>
                    <td class="column_format">Prior auth number</td>
                    <td class="column_format_value">Auth-medhok-1</td>
                </tr>
                <tr>
                    <td class="column_format">Coverage Level</td>
                    <td class="column_format_value">Unlimitted</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="vertical-align: top;" colspan="3">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Errors</td>
                </tr>
                <tr>
                    <td class="column_format">Siguational - Snip 2</td>
                    <td class="column_format_value_long">Communication Number for requester contract information should not be used</td>
                </tr>
                <tr>
                    <td class="column_format">Situational - Snip 1</td>
                    <td class="column_format_value">Communication Number Qualifer for requester contract infromation should be used</td>
                </tr>             
            </table>
        </td>
        
    </tr>
</table>

&nbsp;
<br>
&nbsp;
For 271 only
<br>
Benefit lines
<table class="table_format">
    <tr>
        <td colspan="1" class="table_header_style">Benefit Type</td>
        <td colspan="1" class="table_header_style">Benefit Amt</td>
        <td colspan="1" class="table_header_style">Benefit Percent</td>
        <td colspan="1" class="table_header_style">Benefit Quality</td>
        <td colspan="1" class="table_header_style">Coverage Leve</td>                
        <td colspan="1" class="table_header_style">Insurance Type</td>
        <td colspan="1" class="table_header_style">Facility Type</td>
        <td colspan="1" class="table_header_style">Prior Aut Number</td>        
        <td colspan="1" class="table_header_style">Referral Number</td>        
        <td colspan="1" class="table_header_style">Service Type</td>        
    </tr>
    <tr>
        <td colspan="1" class="">G-Out of Pocket</td>
        <td colspan="1" class="">$1,500</td>
        <td colspan="1" class=""></td>
        <td colspan="1" class=""></td>
        <td colspan="1" class="">Ind Invidvidual</td>                
        <td colspan="1" class=""></td>
        <td colspan="1" class=""></td>
        <td colspan="1" class=""></td>        
        <td colspan="1" class=""></td>        
        <td colspan="1" class="">30 - health Benefit Plan Coverage</td>        
    </tr>
    <tr>
        <td colspan="1" class="">B - Cop-Payment</td>
        <td colspan="1" class="">$250</td>
        <td colspan="1" class=""></td>
        <td colspan="1" class=""></td>
        <td colspan="1" class="">Ind Invidvidual</td>                
        <td colspan="1" class="">21 - Inpatient Hospital</td>
        <td colspan="1" class=""></td>
        <td colspan="1" class=""></td>        
        <td colspan="1" class=""></td>        
        <td colspan="1" class="">47 - Hospital</td>        
    </tr>
</table>
<!--
<table class="table_format">
    <tr>
        <td colspan="1" class="table_header_style">Coverage Level</td>
        <td colspan="1" class="table_header_style">Facility Type</td>
        <td colspan="1" class="table_header_style">Insurance Type</td>
        <td colspan="1" class="table_header_style">Prior Auth Number</td>
        <td colspan="1" class="table_header_style">Refeal Number</td>                
        <td colspan="1" class="table_header_style">Service Type</td>
        <td colspan="1" class="table_header_style">Spend Down Amount</td>        
    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a >Nov.25.2023 17:04:05:333</a></td>
        <td colspan="1" class="column_format_value">Request 270 Processor</td>
        <td colspan="1" class="column_format_value">Request Picked up</td>        
        <td colspan="1" class="column_format_value">Processor</td>
        <td colspan="1" class="column_format_value">Successful</td>
        <td colspan="1" class="column_format_value"><a href="">somefilename.dat</a></td>
    </tr>
</table>
-->