<div>
    <table>
        <tr>
            <td><b>Search Filters</b>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input placeholder="Originator Transaction identifier" style="width: 250px;"> &nbsp;
                
            </td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input placeholder="Trading Partner" style="width: 250px;"> &nbsp;<span>add</span> /
                <span>remove
                </span>
            </td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input placeholder="Member Name" style="width: 250px;"> &nbsp;<span>add</span> /
                <span>remove
                </span>
            </td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
        </tr>
        <tr>
            <td><button name="applyfilters" style="background-color: blue; color: white;">Apply</button></td>
        </tr>

    </table>


</div>