&nbsp;
<br>
&nbsp;
<table class="table_format">
    <tr>
        <td colspan="1" class="table_header_style">SystemId</td>
        <td colspan="1" class="table_header_style">Name</td>
        <td colspan="1" class="table_header_style">Business Document</td>
        <td colspan="1" class="table_header_style">Direction</td>
        <td colspan="1" class="table_header_style">Format</td>
        <td colspan="1" class="table_header_style">Code</td>
        <td colspan="1" class="table_header_style">Version</td>
        <td colspan="1" class="table_header_style">Mode</td>
        <td colspan="1" class="table_header_style">Method</td>
        <td colspan="1" class="table_header_style">Status</td>
        <td colspan="1" class="table_header_style">sender</td>
        <td colspan="1" class="table_header_style">Receiver</td>
    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a [routerLink]="['/bsbc/tp-doctype-details']">120701</a></td>
        <td colspan="1" class="column_format_value">276_5010_inbound</td>
        <td colspan="1" class="column_format_value">Claim Status Inquiry</td>
        <td colspan="1" class="column_format_value">inbound</td>
        <td colspan="1" class="column_format_value">HIPAA 5010</td>
        <td colspan="1" class="column_format_value">276</td>
        <td colspan="1" class="column_format_value">v5010x212</td>
        <td colspan="1" class="column_format_value">Real Time</td>
        <td colspan="1" class="column_format_value">Direct</td>
        <td colspan="1" class="column_format_value">Active</td>
        <td colspan="1" class="column_format_value">Trading PartnerName HTTPS</td>
        <td colspan="1" class="column_format_value">BSC Owner</td>


    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a [routerLink]="['/bsbc/tp-doctype-details']">120702</a></td>
        <td colspan="1" class="column_format_value">277_5010_outbound</td>
        <td colspan="1" class="column_format_value">Claim Statu information</td>
        <td colspan="1" class="column_format_value">outbound</td>
        <td colspan="1" class="column_format_value">HIPAA 5010</td>
        <td colspan="1" class="column_format_value">2777</td>
        <td colspan="1" class="column_format_value">v5010x212</td>
        <td colspan="1" class="column_format_value">Real Time</td>
        <td colspan="1" class="column_format_value">Direct</td>
        <td colspan="1" class="column_format_value">Active</td>
        <td colspan="1" class="column_format_value">BSC Owner</td>
        <td colspan="1" class="column_format_value">Trading PartnerName HTTPS</td>
    </tr>
</table>