&nbsp;
<br>
&nbsp;
<table class="table_format">
    <tr>
        <td colspan="1" class="table_header_style">SystemId</td>
        <td colspan="1" class="table_header_style">Client Id</td>
        <td colspan="1" class="table_header_style">Trace Id</td>
        <td colspan="1" class="table_header_style">Date/Time Created</td>
        <td colspan="1" class="table_header_style">Document Type</td>
        <td colspan="1" class="table_header_style">Status</td>
        <td colspan="1" class="table_header_style">File Name</td>
    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a href="">1233122</a></td>
        <td colspan="1" class="column_format_value">23290239023</td>
        <td colspan="1" class="column_format_value">5996b1-61a3-4292-b656-eff1b1747a66</td>
        <td colspan="1" class="column_format_value">Nov.25.2023 17:04:05:333</td>
        <td colspan="1" class="column_format_value">270</td>
        <td colspan="1" class="column_format_value">Accepted</td>
        <td colspan="1" class="column_format_value"><a href="">somefilename.dat</a></td>
    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a href="">2233123</a></td>
        <td colspan="1" class="column_format_value">13290239023</td>
        <td colspan="1" class="column_format_value">4996b1-61a3-4292-b656-eff1b1747a67</td>
        <td colspan="1" class="column_format_value">Nov.25.2023 17:04:05:333</td>
        <td colspan="1" class="column_format_value">271</td>
        <td colspan="1" class="column_format_value">Rejected</td>
        <td colspan="1" class="column_format_value"><a href="">somefilename.dat</a></td>
    </tr>
</table>