<table style="width: 100%; background: lightblue;">
    <tr>
        <td style="text-align: right;"><button style="background-color: blue; color: white; cursor: pointer;">Edit Gen
                Info</button></td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <h3>Trading Partner General Info</h3>
        </td>

    </tr>
</table>
<!--
<table>
    <tr>
        <td class="fromcolumn">Partner Name</td>
        <td class="fromcolumn"><input mat-input></td>
        <td class="fromcolumn">Partner Id</td>
        <td class="fromcolumn"><input mat-input></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            some more field
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="12" style="text-align: right;">
            <button >Save </button> &nbsp; &nbsp;
        </td>
    </tr>
</table>
-->



<table class="table_outer">
    <tr>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">General Information</td>
                </tr>
                <tr>
                    <td class="column_format">Name</td>
                    <td class="column_format_value">Passport HTTPS</td>
                </tr>
                <tr>
                    <td class="column_format">External Id</td>
                    <td class="column_format_value">276Passport</td>
                </tr>
                <tr>
                    <td class="column_format">Role</td>
                    <td class="column_format_value">Clearinghouse</td>
                </tr>
                <tr>
                    <td class="column_format">Status</td>
                    <td class="column_format_value">Active</td>
                </tr>

                <tr>
                    <td class="column_format">Created</td>
                    <td class="column_format_value">Jan-1-2016</td>
                </tr>
                <tr>
                    <td class="column_format">Modified Date</td>
                    <td class="column_format_value">Feb-17-2023</td>
                </tr>
                <tr>
                    <td class="column_format">Provile Confimred</td>
                    <td class="column_format_value">March-17-2023</td>
                </tr>
                <tr>
                    <td class="column_format">Last Accessed</td>
                    <td class="column_format_value">Nov-15-2023</td>
                </tr>
            </table>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Additional Information</td>
                </tr>
                <tr>
                    <td class="column_format">Enviornment indicator</td>
                    <td class="column_format_value">Prod, Test, Any</td>
                </tr>
                <tr>
                    <td class="column_format">Primary Phone</td>
                    <td class="column_format_value">818-555-1212</td>
                </tr>
                <tr>
                    <td class="column_format">Primary Fax</td>
                    <td class="column_format_value">818-555-1213</td>
                </tr>
                <tr>
                    <td class="column_format">Email Address</td>
                    <td class="column_format_value">chris.isayan@prolifics.com</td>
                </tr>
                <tr>
                    <td class="column_format">Billing Address</td>
                    <td class="column_format_value">123 Main St, Glendale, Ca</td>
                </tr>
                <tr>
                    <td class="column_format">Shipping Address</td>
                    <td class="column_format_value">999 Maple, Burbank, Ca</td>
                </tr>
                <tr>
                    <td class="column_format">Home Page</td>
                    <td class="column_format_value">https://www.prolifics.com</td>
                </tr>
                <tr>
                    <td class="column_format">Commerce Page</td>
                    <td class="column_format_value">https://www.google.com</td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Transaction Info</td>
                </tr>
                <tr>
                    <td class="column_format">Packaging Level</td>
                    <td class="column_format_value">ST</td>
                </tr>
                <tr>
                    <td class="column_format">Batch Type</td>
                    <td class="column_format_value">H-15-277</td>
                </tr>
                <tr>
                    <td class="column_format">File Drop Location</td>
                    <td class="column_format_value">/Sterling/outbound</td>
                </tr>
                <tr>
                    <td class="column_format">TA1</td>
                    <td class="column_format_value">always</td>
                </tr>
                <tr>
                    <td class="column_format">SFT or Web</td>
                    <td class="column_format_value">Web</td>
                </tr>          

            </table>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="vertical-align: top;">
            <table class="table_format">
                <tr>
                    <td colspan="2" class="table_header_style">Partner Identifiers</td>
                </tr>
                <tr>
                    <td class="column_format">ISA Identifier</td>
                    <td class="column_format_value">276Passport</td>
                </tr>
                <tr>
                    <td class="column_format">Outbound ISA Delimiter</td>
                    <td class="column_format_value">*</td>
                </tr>
                <tr>
                    <td class="column_format">ISA_1</td>
                    <td class="column_format_value"></td>
                </tr>
                <tr>
                    <td class="column_format">GS Identifier</td>
                    <td class="column_format_value">276Passport</td>
                </tr>
                <tr>
                    <td class="column_format">Group Identifier 2</td>
                    <td class="column_format_value"></td>
                </tr>
            </table>
        </td>
    </tr>
   

</table>