<form>
    <table border="0" >

        <tr>
            <td colspan="3" style="vertical-align: top; width: 900px;">
                <div>
                    <mat-drawer-container style="height: 700px; width: 100%;">
                        <mat-drawer #drawerdetail [mode]="'side'" position="end" [style.width.px]="drawerWidth"
                            [opened]="isDrawerOpen" (openedChange)="drawerStateChanged($event)">

                            <div style="align-content: right;">
                                <button mat-icon-button (click)="drawerdetail.toggle()">
                                    <mat-icon>{{ isDrawerOpen ? 'close' : 'menu' }}</mat-icon>
                                </button>
                            </div>
                            <div>
                                <app-bs-advance-search></app-bs-advance-search>
                            </div>
                        </mat-drawer>

                        <table border="0" style="width: 100%;">
                            <tr>
                                <td>Search</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <input placeholder="System ID" />
                                </td>
                                <td bgcolor="white">&nbsp; &nbsp;</td>
                                <td style="text-align:;"><input placeholder="Trace ID"> </td>
                            </tr>
                            <tr>
                                <td>
                                    <input placeholder="field 3" />
                                </td>
                                <td bgcolor="white">&nbsp; &nbsp;</td>
                                <td style="text-align:;"><input placeholder="field 4"> </td>
                            </tr>
                            <tr >
                                <td colspan="3" style="text-align: right; ">                                    
                                    <span (click)="showDrawer()">+Advanced Filters</span>
                                    &nbsp; &nbsp;
                                    <button style="background-color: blue; color: white;" [routerLink]="['/bsbc/transmissions/grid']">Search </button>
                                </td>
                            </tr>                            
                            <tr>
                                <td colspan="3"  style="width: 100%;">
                                    <router-outlet></router-outlet>
                                    <!--<app-bs-generic-res-grid></app-bs-generic-res-grid>-->
                                </td>
                            </tr>
                        </table>
                    </mat-drawer-container>
                </div>
            </td>
        </tr>

  


    </table>

</form>