<table style="width: 100%;">
    <tr>
        <td>
            <div style="border-color: lightblue; padding: 10px; border: 2px solid lightblue;">
                <table style="width: 100%">
                    <tr>
                        <td colspan="4" style="text-align: center; background-color: azure">
                            <h3>Role Configuration</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td class="fromcolumn">
                            Role ID
                        </td>
                        <td class="fromcolumn"> <input matInput [(ngModel)]="rolesConfig.RoleID" [disabled]="true"> </td>
                        <td class="fromcolumn">
                            Role Name
                        </td>
                        <td class="fromcolumn"> <input matInput [(ngModel)]="rolesConfig.RoleName"> </td>
                    </tr>
                    <tr>
                        <td class="fromcolumn">
                            Role Owner Id
                        </td>
                        <td class="fromcolumn"> <input matInput [(ngModel)]="rolesConfig.RoleOwnerUserID"> </td>
                        <td class="fromcolumn">
                            Role Type
                        </td>
                        <td class="fromcolumn">

                            <mat-select [(ngModel)]="rolesConfig.RoleType" placeholder="Select Role Type"
                                class="selectformat">
                                <mat-option [value]="'Basic'">Basic</mat-option>
                                <mat-option [value]="'CustomRole'">CustomRole</mat-option>
                                <mat-option [value]="'Predifined'">Predifined</mat-option>
                            </mat-select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>

                    </tr>
                    <tr>
                        <td colspan="1" class="fromcolumn">
                            Role Desc
                        </td>
                        <td colspan="3" class="fromcolumn">
                            <textarea matInput [(ngModel)]="rolesConfig.RoleDesc" cdkTextareaAutosize
                                cdkAutosizeMinRows="3" cdkTextareaAutosize cols="50"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td></td>
                        <td style="text-align: right;"><button class="primary-action-button mybutton" (click)="saveRoleMain()">Apply</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" >
                            <b>Permissions</b>                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" >
                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel style="border-color: beige;border-width: 2px;">
                                    <mat-expansion-panel-header style="background-color: beige;">
                                        <mat-panel-title >
                                            Warehouse
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div style="width: 100%;">
                                        <table >
                                            <tr>
                                                <td>
                                                    <mat-select multiple [(ngModel)]="warehouseIds"
                                                        placeholder="Select a site" class="select-format-long"
                                                        matTooltip="Some employees work in more than one warehouse.  So, it is important to specify
                                                        what warehouses this Role applies to.">
                                                        <mat-option *ngFor="let warehouse of warehouseData"
                                                            [value]="warehouse.WarehouseID"                                                            >
                                                            {{ warehouse.WarehouseName + '-' +
                                                            warehouse.WarehouseLocation}}
                                                        </mat-option>
                                                    </mat-select>
                                                </td>
                                                <td> &nbsp; &nbsp; &nbsp; </td>
                                                <td>
                                                    <mat-select multiple [(ngModel)]="grantTypeIds"
                                                    placeholder="Sysem Applicability"
                                                        class="select-format-long"
                                                        matTooltip="if i select Grant to Modern App and Grant to Legacy app, it means 
                                                        user has access to modern screen and can navigate back and forth between legacy and new app.  
                                                        If i Deny to Legacy app, it means user cannot navigate to legacy app.">
                                                        <mat-option [value]="'1'">Grant to Modern App</mat-option>
                                                        <mat-option [value]="'2'">Grant to Legacy App</mat-option>
                                                        <mat-option [value]="'3'">Deny to Legacy App</mat-option>
                                                    </mat-select>
                                                </td>
                                                <td style="text-align: right;"><button class="primary-action-button mybutton" (click)="saveWarehouseSection()">Apply</button>                                                
                                                </td>
                                            </tr>                                          
                                        </table>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header style="background-color: cornsilk;">
                                        <mat-panel-title>
                                            System Resources / Screens
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <app-system-assets-role-to-object></app-system-assets-role-to-object>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header style="background-color: antiquewhite;">
                                        <mat-panel-title>
                                            Assign Users
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <app-system-assign-users-to-role></app-system-assign-users-to-role>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <mat-accordion class="headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header style="background-color: blanchedalmond;">
                                        <mat-panel-title>
                                            Assign Groups
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <app-system-assign-groups-to-role></app-system-assign-groups-to-role>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr>
                        </td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>