.break-lines {
    word-wrap: break-word;
}

.no-wrap {
    white-space: nowrap;
}

.fromcolumn {
    width: 20%;
    font-size: small;
}

.hidden-row {
    display: none;
}

.show-more-link {
    cursor: pointer;
    color: blue;
    text-align: right;
}

.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
    font-size: 8px;
  }

  .mat-raised-button{
    --mdc-typography-button-font-size:12px
  }

  .primary-action-button {
    background-color: blue;
    color: white;
  }
  .secondary-action-button {
    background-color: gray;
    color: white;
  }

  .selectformat {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 175px;
  }
  .select-format-long {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 350px;
  }
  
  .mat-select {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
  }

  .boxed-mat-select {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .mybutton {
    cursor:pointer;  
  }
  
  table {    
    font-family: 'Roboto', sans-serif;
    width: 100%;
  }

.mat-mdc-select {
    font-size: small ;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
  }
  
  