&nbsp;
<br>
&nbsp;
<table class="table_format">
    <tr>
        <td colspan="1" class="table_header_style">Error ID</td>
        <td colspan="1" class="table_header_style">Event Category</td>
        <td colspan="1" class="table_header_style">Date/Time Created</td>
        <td colspan="1" class="table_header_style">Snip Type</td>
        <td colspan="1" class="table_header_style">Short Desription</td>                
        <td colspan="1" class="table_header_style">Severity</td>
        <td colspan="1" class="table_header_style">DocType</td>
        <td colspan="1" class="table_header_style">File Name</td>
    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a href="">0X39456464</a></td>
        <td colspan="1" class="column_format_value">Wrong Value</td>
        <td colspan="1" class="column_format_value"><a >Nov.25.2023 17:04:05:333</a></td>
        <td colspan="1" class="column_format_value">4 - Situational</td>
        <td colspan="1" class="column_format_value">National Provider Id (NPI) is required id</td>        
        <td colspan="1" class="column_format_value">Informational</td>    
        <td colspan="1" class="column_format_value">270</td>    
        <td colspan="1" class="column_format_value"><a href="">somefilename.dat</a></td>
    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a href="">0X39456464</a></td>
        <td colspan="1" class="column_format_value">Default Category</td>
        <td colspan="1" class="column_format_value"><a >Nov.25.2023 17:04:05:533</a></td>
        <td colspan="1" class="column_format_value">4 - EDI Sytax</td>
        <td colspan="1" class="column_format_value">Validator error - Extra data was encountered</td>        
        <td colspan="1" class="column_format_value">Hard Stop</td> 
        <td colspan="1" class="column_format_value">270</td>        
        <td colspan="1" class="column_format_value"><a href="">somefilename.dat</a></td>
    </tr>
    <tr>
        <td colspan="1" class="column_format_value"><a href="">0X39456464</a></td>
        <td colspan="1" class="column_format_value">Default Category</td>
        <td colspan="1" class="column_format_value"><a >Nov.25.2023 17:04:09:533</a></td>
        <td colspan="1" class="column_format_value">2 - HIPAA Syntax</td>
        <td colspan="1" class="column_format_value">Max Loop for 2100D exceeded</td>        
        <td colspan="1" class="column_format_value">Hard Stop</td> 
        <td colspan="1" class="column_format_value">276</td>        
        <td colspan="1" class="column_format_value"><a href="">somefilename.dat</a></td>
    </tr>
</table>