
<H1>Advance Filters</H1>

<div>
    <table>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">
                
                
                    <input placeholder="Originator Transaction identifier" style="width: 250px;">    
                
                
            </td>
            <td>    <div style="white-space: nowrap;" (click)="showOrigFilter()" class="show-more-link">{{ getOrigFilterText() }}</div></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input placeholder="Trading Partner" style="width: 250px;"> 
            </td>
            <td><div style="white-space: nowrap;" class="show-more-link">add</div></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input placeholder="Member Name" style="width: 250px;"> 
            </td>
            <td><div style="white-space: nowrap;" class="show-more-link">add</div></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
        </tr>
        <tr>
            <td><button name="applyfilters" style="background-color: blue; color: white;">Apply</button></td>
        </tr>

    </table>


</div>