
<H1>Advance Filters</H1>
<h3>These filter operate against the databse</h3>
<div>
    <table>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">
                
                
                    <input placeholder="Originator Transaction identifier" style="width: 250px;">    
                
                
            </td>
            <td>    <div style="white-space: nowrap;" (click)="showOrigFilter()" class="show-more-link">{{ getOrigFilterText() }}</div></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input placeholder="Trading Partner" style="width: 250px;"> 
            </td>
            <td><div style="white-space: nowrap;" class="show-more-link">add</div></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input placeholder="Member Name" style="width: 250px;"> 
            </td>
            <td><div style="white-space: nowrap;" class="show-more-link">add</div></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>These attributes filter the resultset (not database)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>-Attribute list can also be filtered from here</td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp;   -Attribute lists are applied to resultset</td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp;   -Will be provided in the excel</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>-Error Code filtering can be done  from here</td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp;  -Error codes are aslo applied to the resultset</td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp;  -attributess: Error Message, ID, Location, Severity, Snip Level, Status, Categry</td>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
        </tr>
        <tr>
            <td><button name="applyfilters" style="background-color: blue; color: white;">Apply</button></td>
        </tr>

    </table>


</div>