<table style="width: 100%;">
    <tr>
        <td>
            <input placeholder="System ID" />
        </td>
        <td bgcolor="white">&nbsp; &nbsp;</td>
        <td ><input placeholder="Trace ID"> </td>
    </tr>
    <tr>
        <td>
            <input placeholder="field 3" />
        </td>
        <td bgcolor="white">&nbsp; &nbsp;</td>
        <td ><input placeholder="field 4"> </td>
    </tr>
  
    <tr >
        <td colspan="2"></td>
        <td colspan="1" >
            <button style="background-color: blue; color: white;" [routerLink]="['/bsbc/request276/grid']">Search </button>
        </td>
    </tr>   
    <tr>
        <td colspan="3"  style="width: 100%;">
            <router-outlet></router-outlet>         
        </td>
    </tr>
</table>