<table style="width: 100%;">
    <tr>
        <td>
            <div style="border-color: lightblue; padding: 10px; border: 2px solid lightblue;">
                <table style="width: 100%">
                    <tr>
                        <td colspan="4" style="text-align: center;">
                            <h3>Warehouse Configuration</h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="fromcolumn">
                            Warehouse Name
                        </td>
                        <td class="fromcolumn"> <input matInput> </td>
                        <td class="fromcolumn">
                            Region 
                        </td>
                        <td class="fromcolumn">
                            <input matInput>
                        </td>
                    </tr>
                    <tr>
                        <td class="fromcolumn">
                            Company 
                        </td>
                        <td class="fromcolumn"> <input matInput> </td>
                        <td class="fromcolumn">
                            Location / Site 
                        </td>
                        <td class="fromcolumn"> <input matInput> </td>
                    </tr>
                    <tr>
                        <td class="fromcolumn">
                            Address Line 1
                        </td>
                        <td class="fromcolumn"> <input matInput> </td>
                        <td class="fromcolumn">
                            Address Line 2
                        </td>
                        <td class="fromcolumn"> <input matInput> </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>More fields</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td><button class="secondary-action-button">Save Draft

                            </button></td>
                        <td><button class="primary-action-button mybutton">Save & Transmit

                            </button> ctrl+s</td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>